<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myChapterLabel" jhiTranslate="woodstockApp.chapter.home.createOrEditLabel">Create or edit a Chapter</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!chapter.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="chapter.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="woodstockApp.chapter.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="chapter.title"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="woodstockApp.chapter.content" for="field_content">Content</label>
            <textarea class="form-control" name="content" id="field_content"
                      [(ngModel)]="chapter.content">
            </textarea>
        </div>

        <div class="form-group">
            <label jhiTranslate="woodstockApp.chapter.reference" for="field_reference">Reference</label>
            <select class="form-control" id="field_reference" name="reference" [(ngModel)]="chapter.referenceId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="referenceOption.id" *ngFor="let referenceOption of references; trackBy: trackReferenceById">{{referenceOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
