<div class="row">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <label>First Name:</label>
        <input type="text" formControlName="firstName">
      </div>
      <!-- input-field -->
      <div class="input-field col s6">
        <label>Password</label>
        <input type="password" formControlName="password">
      </div>
      <!-- input-field -->
    </div>
    <!-- row -->
    <p>
      <button type="submit" [disabled]="!form.valid" class="waves-effect waves-light btn">submit</button>
    </p>
    <p>
      <button (click)="partialUpdate()" class="btn">Partial Update</button>
    </p>
    <p>
      <button (click)="fullUpdate()" class="btn">Full Update</button>
    </p>
    <p>
      <button (click)="reset()" class="btn">Cancel</button>
    </p>
  </form>
  <!-- form col s12 -->
</div>
<!-- row -->
