<div>
    <h2>
        <span jhiTranslate="woodstockApp.module.home.title">Modules</span>
        <button class="btn btn-primary float-right create-module-my-suffix" [routerLink]="['/', { outlets: { popup: ['module-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="woodstockApp.module.home.createLabel">
            Create new Module
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="modules">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="woodstockApp.module.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="avatar"><span jhiTranslate="woodstockApp.module.avatar">Avatar</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="woodstockApp.module.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="unitId"><span jhiTranslate="woodstockApp.module.unit">Unit</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let module of modules ;trackBy: trackId">
                <td><a [routerLink]="['../module-my-suffix', module.id ]">{{module.id}}</a></td>
                <td>{{module.name}}</td>
                <td>{{module.avatar}}</td>
                <td>{{module.description}}</td>
                <td>
                    <div *ngIf="module.unitId">
                        <a [routerLink]="['../unit-my-suffix', module.unitId  ]" >{{module.unitId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../module-my-suffix', module.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'module-my-suffix/'+ module.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'module-my-suffix/'+ module.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="modules && modules.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
