<a href="#/units/{{unitId}}/modules/new">Add new module</a>

<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Details</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="module in modules">
            <td>{{module.id}}</td>
            <td>{{module.name}}</td>
            <td><a href="#/units/{{unitId}}/modules/{{module.id}}/view">View</a></td>
            <td><a href="#/units/{{unitId}}/modules/{{module.id}}/edit">Edit</a></td>
        </tr>
    </tbody>
</table>

<a href="#/units/{{unitId}}/view">Back</a>
<a href="#/">Home</a>
