<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUnitLabel" jhiTranslate="woodstockApp.unit.home.createOrEditLabel">Create or edit a Unit</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!unit.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="unit.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="woodstockApp.unit.label" for="field_label">Label</label>
            <input type="text" class="form-control" name="label" id="field_label"
                [(ngModel)]="unit.label"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="woodstockApp.unit.avatar" for="field_avatar">Avatar</label>
            <input type="text" class="form-control" name="avatar" id="field_avatar"
                [(ngModel)]="unit.avatar"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="woodstockApp.unit.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="unit.description"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="woodstockApp.unit.featured" for="field_featured">Featured</label>
            <input type="checkbox" class="form-control" name="featured" id="field_featured"
                [(ngModel)]="unit.featured"
             />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
