<div>
    <h2>
        <span jhiTranslate="woodstockApp.unit.home.title">Units</span>
        <button class="btn btn-primary float-right create-unit-my-suffix" [routerLink]="['/', { outlets: { popup: ['unit-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="woodstockApp.unit.home.createLabel">
            Create new Unit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="units">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="label"><span jhiTranslate="woodstockApp.unit.label">Label</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="avatar"><span jhiTranslate="woodstockApp.unit.avatar">Avatar</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="woodstockApp.unit.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="featured"><span jhiTranslate="woodstockApp.unit.featured">Featured</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let unit of units ;trackBy: trackId">
                <td><a [routerLink]="['../unit-my-suffix', unit.id ]">{{unit.id}}</a></td>
                <td>{{unit.label}}</td>
                <td>{{unit.avatar}}</td>
                <td>{{unit.description}}</td>
                <td>{{unit.featured}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../unit-my-suffix', unit.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'unit-my-suffix/'+ unit.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'unit-my-suffix/'+ unit.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="units && units.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
