
<div *ngIf="module">
    <h2><span jhiTranslate="woodstockApp.module.detail.title">Module</span> {{module.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="woodstockApp.module.name">Name</span></dt>
        <dd>
            <span>{{module.name}}</span>
        </dd>
        <dt><span jhiTranslate="woodstockApp.module.description">Description</span></dt>
        <dd>
            <span>{{module.description}}</span>
        </dd>
        <dt><span jhiTranslate="woodstockApp.module.unit">Unit</span></dt>
        <dd>
            <div *ngIf="module.unitId">
                <a [routerLink]="['/unit-my-suffix', module.unitId]">{{module.unitId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'module-my-suffix/'+ module.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
