<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAnswerLabel" jhiTranslate="woodstockApp.answer.home.createOrEditLabel">Create or edit a Answer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!answer.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="answer.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="woodstockApp.answer.answer" for="field_answer">Answer</label>
            <input type="text" class="form-control" name="answer" id="field_answer"
                [(ngModel)]="answer.answer"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="woodstockApp.answer.correct" for="field_correct">Correct</label>
            <input type="checkbox" class="form-control" name="correct" id="field_correct"
                [(ngModel)]="answer.correct"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="woodstockApp.answer.enable" for="field_enable">Enable</label>
            <input type="checkbox" class="form-control" name="enable" id="field_enable"
                [(ngModel)]="answer.enable"
             />
        </div>

        <div class="form-group">
            <label jhiTranslate="woodstockApp.answer.question" for="field_question">Question</label>
            <select class="form-control" id="field_question" name="question" [(ngModel)]="answer.questionId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="questionOption.id" *ngFor="let questionOption of questions; trackBy: trackQuestionById">{{questionOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
