html, body {
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    height:100%;
    margin: 0;
    padding: 0;
}

md-toolbar h3 {
    margin: auto;
    font-weight: 500;
}

md-list-item > a {
    width:100%;
    text-align:left !important;
}

#content  {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
}
