<form>
    <div class="mdl-textfield mdl-js-textfield">
        <input id="label" type="text" ng-model="unit.label" class="mdl-textfield__input">
        <label class="mdl-textfield__label" for="label">Label...</label>
    </div>
</form>

<form>
    <div class="mdl-textfield mdl-js-textfield">
        <textarea id="sample5" type="text" ng-model="unit.description" class="mdl-textfield__input" rows="3"></textarea>
        <label class="mdl-textfield__label" for="sample5">Description...</label>
    </div>
</form>

<button type="submit" class="mdl-button mdl-js-button mdl-button--raised">Save</button>
