<div class="mdl-grid mdl-cell mdl-cell--12-col">
    <div ng-repeat="unit in units" class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
        <div class="mdl-card mdl-shadow--2dp">
            <figure class="mdl-card__media">
                <img src="http://tfirdaus.github.io/mdl/images/laptop.jpg" alt=""/>
            </figure>
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">{{unit.label}}</h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam accusamus, consectetur.</p>
            </div>
            <div class="mdl-card__actions mdl-card--border mdl-color--grey-50">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                   href="#/units/{{unit.id}}/view">
                    Read More
                </a>

                <div class="mdl-layout-spacer"></div>

                <button class="mdl-button mdl-button--icon mdl-button--colored">
                    <i class="material-icons">favorite</i>
                </button>

                <button class="mdl-button mdl-button--icon mdl-button--colored">
                    <i class="material-icons">share</i>
                </button>
            </div>
        </div>
    </div>
</div>
