<a href="#/units/{{unit.id}}/categories">View categories</a>

<p>{{unit.id}}</p>
<p>{{unit.label}}</p>

<a href="#/units">Back</a>
<a href="#/">Home</a>


<section class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone
        mdl-color--teal-100 mdl-color-text--white">
    </header>

    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__supporting-text">
            <h4>Label</h4>
            Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi
            amet do dolor eu fugiat consectetur elit cillum esse.
        </div>

        <div class="mdl-card__actions mdl-card--border">
            <a href="#/" class="mdl-button">Action</a>
        </div>
    </div>
</section>
