
<div *ngIf="question">
    <h2><span jhiTranslate="woodstockApp.question.detail.title">Question</span> {{question.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="woodstockApp.question.question">Question</span></dt>
        <dd>
            <span>{{question.question}}</span>
        </dd>
        <dt><span jhiTranslate="woodstockApp.question.module">Module</span></dt>
        <dd>
            <div *ngIf="question.moduleId">
                <a [routerLink]="['/module-my-suffix', question.moduleId]">{{question.moduleId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'question-my-suffix/'+ question.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
